<h2>HomePage</h2>
<p>This is home page of the app that soon will be kick ass, but for now i can do better with notepad and html only :D</p>
<%= link_to 'About', home_about_path, class: 'btn btn-default' %>

